/*COMMON COMPONENTS STYLE */
/* flex scrollable p-table of primeng STYLE */
::ng-deep p-table.fill-flex-parent
  flex-grow: 1
  flex-shrink: 1
  overflow: hidden
  display: flex
  flex-direction: column
::ng-deep p-table.fill-flex-parent .ui-table
  height: 100%
  display: flex
  flex-direction: column
  flex-grow: 1
::ng-deep p-table.fill-flex-parent .ui-table .ui-table-caption
  flex-shrink: 0
::ng-deep p-table.fill-flex-parent .ui-table .ui-table-scrollable-wrapper
  flex-grow: 1
  overflow: hidden
  display: flex
  flex-direction: column
::ng-deep p-table.fill-flex-parent .ui-table .ui-table-scrollable-wrapper .ui-table-scrollable-view
  height: 100%
  display: flex
  flex-direction: column
  flex-grow: 1
::ng-deep p-table.fill-flex-parent .ui-table .ui-table-scrollable-wrapper .ui-table-scrollable-view  > .ui-table-scrollable-header
  flex-shrink: 0
  /** COLLAPSABLE TABLE*/
::ng-deep p-table.fill-flex-parent.collapsable.collapsed .ui-table .ui-table-scrollable-wrapper
  flex-grow: 0
  flex-shrink: 0
  display: none
::ng-deep p-table.fill-flex-parent.collapsable .ui-table .ui-table-scrollable-wrapper
  -webkit-transition: all .5s
  transition: all .5s
  /** COLLAPSABLE TABLE*/
/* flex scrollable p-table of primeng STYLE END*/
/* columns STYLE*/
::ng-deep .ellipsis-col
  text-overflow: ellipsis
  width: 100%
  display: inline-block
  overflow: hidden
  white-space: nowrap
::ng-deep .ellipsis-header
  text-overflow: ellipsis
  width: calc(100% - 1.3em)
  white-space: nowrap
  display: inline-block
  overflow: hidden
/* columns STYLE END*/

/* COMMON CSS CLASS*/
::ng-deep .hide
  display: none!important