
.main
    height: calc(100vh - 48px - 1em)
.main .main-content
    height: 100%
    overflow: hidden
:host .main .main-content .user-management
    padding: .5em
    margin: .5em
    display: flex
    flex-direction: column
    overflow: hidden
    height: 100%
    box-sizing: border-box
:host .main .main-content .user-management .title
    flex-basis: auto
    padding: 0 .5em
:host .main .main-content .user-management .title h1
    width: auto
    display: inline-block
    margin: 8px 0
:host .main .main-content .user-management .title button
    width: auto
    float: right
    margin-top: 8px
:host .main .main-content .user-management .table
    flex-grow: 1
    display: flex
    flex-direction: column
    overflow: hidden
:host ::ng-deep .main .main-content .user-management .table p-table .ui-table-caption
  padding: 0
:host ::ng-deep .main .main-content .user-management .table p-table .ui-table-caption  .ui-multiselect-trigger-icon
  top: 25%
:host ::ng-deep .main .main-content .user-management .table p-table .ui-table-caption p-multiselect
  float: right
:host ::ng-deep .main .main-content .user-management .table p-table .ui-table-caption .resultat
  float: left
  padding: 4px 6px
:host ::ng-deep .main .main-content .user-management .table p-table .ui-table-scrollable-wrapper td .image-content img
  height: 29px
  width: 29px
  border-radius: 14px
  margin-left: -2px
  border: 1px solid #d6d7d9
  border-spacing: 1px

:host ::ng-deep .main .main-content .user-management .table p-table tr.selectedRow
  background-color: rgba(16, 108, 200, 0.21)
  color: #ffff
:host ::ng-deep .main .main-content .user-management .table p-table tr.selectedRow:nth-child(even)
  background-color: #106cc86b
  color: #ffff
:host ::ng-deep .main .main-content .user-management .table p-table tr.ui-state-highlight
  background-color: rgba(16, 108, 200, 0.21)!important
  color: #ffff

:host ::ng-deep .main .main-content .user-management .table p-table tr.ui-state-highlight:nth-child(even)
  background-color: #106cc86b!important
  color: #ffff

//supprimer le border noir de la tabulation tabindex

:host ::ng-deep .main .main-content .user-management .table p-table tr:focus
  outline: none
:host ::ng-deep .main .main-content .user-management .table p-table th:focus
  outline: none
:host ::ng-deep .main .main-content .user-management .table p-table p-paginator div a:focus
  outline: none
#send
  margin-right: 2px
.colWidth
  width: 3em




