<p-card class="p-field" class=" p-mb-2">
  <div class="ui-g main-content">
    <div class="user-management card card-w-title ui-g-12">
      <p-messages [(value)]="msgs" [hidden]="displayMessage"></p-messages>

      <div class='p-fluid p-formgrid p-grid'>
        <div class="p-field p-col" style="margin-bottom: -25px;">
          <h1>{{'PAGE-UTILISATEUR.TITRES.RECHERCHE' | translate}}</h1>
        </div>

        <div class="p-field p-col-2" style="display: flex;justify-content: flex-end;margin-top: 10px;">
          <button *ngIf="hasAuthoritieCreate()" [routerLink]="['./new']" icon="pi pi-plus" id="new" label="Nouveau"
            pButton></button>
        </div>
        <div class="p-formgroup-inline">
          <filters-panel (onSearch)="findUserBy($event)" [filters]="userFilters"></filters-panel>
        </div>
      </div>

      <div class="table">
        <p-table #users (onHeaderCheckboxToggle)="allUsersSelected($event)" (onLazyLoad)="loadUsers($event)"
          (onRowSelect)="onUserSelected($event)" (onRowUnselect)="onUserUnselected($event)"
          [(contextMenuSelection)]="selectedUserShow" [(selection)]="selectedUser" [columns]="userColumns"
          [contextMenu]="cm" [lazy]="true" [loading]="loading" [paginator]="true" [reorderableColumns]="true"
          [resizableColumns]="true" [rows]="rows" [scrollable]="true" [totalRecords]="currentPage.totalElements"
          [value]="currentPage.content" class="fill-flex-parent" columnResizeMode="fit" dataKey="id"
          loadingIcon="fa fa-refresh" metaKeySelection="true" selectionMode="" sortMode="multiple">

          <ng-template let-userColumns pTemplate="colgroup">
            <colgroup>
              <col class="colWidth">
              <col *ngFor="let col of userColumns" [style.width]="col.width">
            </colgroup>
          </ng-template>

          <ng-template pTemplate="caption">
            <div class="p-d-flex p-ai-center p-jc-between">
              <span *ngIf="currentPage.totalElements ==0" class="resultat">{{'CHAMPS-COMMUN.AUCUN-RESULTAT' | translate
                }}</span>
              <span *ngIf="currentPage.totalElements ==1" class="resultat">{{'CHAMPS-COMMUN.UN-RESULTAT' |
                translate}}</span>
              <span *ngIf="currentPage.totalElements > 1" class="resultat"><span
                  class="total">{{currentPage.totalElements}}</span>{{ 'CHAMPS-COMMUN.RESULTATS' | translate}}</span>

              <p-multiSelect [(ngModel)]="userColumns" [options]="userColumns" defaultLabel="Choose Columns"
                dropdownIcon="pi pi-table" id="pieces-table-cols" optionLabel="header"
                pTooltip="{{'CHAMPS-COMMUN.FILTER-TABLEAU' | translate}}" selectedItemsLabel="">
              </p-multiSelect>

            </div>
          </ng-template>

          <ng-template let-userColumns pTemplate="header">
            <tr>
              <th class="colWidth">
                <p-tableHeaderCheckbox pTooltip="{{'PAGE-UTILISATEUR.TOOLTIPS.SELECT-ALL' | translate}}">
                </p-tableHeaderCheckbox>
              </th>
              <th *ngFor="let col of userColumns" [pSortableColumnDisabled]="!col.sortable"
                [pSortableColumn]="col.field" class="ui-resizable-column" pReorderableColumn pResizableColumn>
                <span class="header-text"><span class="ellipsis-header"
                    pTooltip="{{col.tooltip}}">{{col.header}}</span></span>
                <p-sortIcon *ngIf="col.sortable" [field]="col.field"></p-sortIcon>
              </th>
            </tr>
          </ng-template>
          <ng-template let-columns="columns" let-expanded="expanded" let-rowData pTemplate="body">
            <tr (dblclick)="onRowSelect($event,rowData)" [pContextMenuRow]="rowData" [pSelectableRowDblClick]="rowData"
              [pSelectableRow]="rowData">
              <td>
                <p-tableCheckbox [value]="rowData" binary="true"></p-tableCheckbox>
              </td>
              <td *ngFor="let col of columns" [ngSwitch]="col.type" class="ui-resizable-column">
                <span *ngSwitchCase="'boolean'">
                  <i class="fa fa-times" *ngIf="rowData[col.field]==false"></i>
                  <i class="fa fa-check" *ngIf="rowData[col.field]==true"></i>
                </span>
                <span *ngSwitchCase="'img'">
                  <span class="image-content"><img
                      [src]="getUserImgResource(rowData[col.field]) | secure | async" /></span>

                </span>

                <span *ngSwitchCase="'datetime'">
                  <span>{{rowData[col.field] | date : 'dd/MM/yyyy HH:mm:ss' }} </span>
                </span>
                <span *ngSwitchCase="'profile'">
                  {{rowData[col.field].codeMetier}}
                </span>
                <span *ngSwitchDefault>{{rowData[col.field]}}</span>
              </td>
            </tr>
          </ng-template>
          <ng-template let-columns="columns" pTemplate="loadingbody">
            <tr class="colHeight">
              <td class="colWidth">
                <div class="loading-text"></div>
              </td>
              <td class="colWidth">
                <div class="loading-text"></div>
              </td>
              <td *ngFor="let col of columns" [style.width]="col.width">
                <div class="loading-text"></div>
              </td>
            </tr>
          </ng-template>
          <ng-template let-columns pTemplate="emptymessage">
            <tr *ngIf="columns">
              <td [attr.colspan]="columns.length + 1" class="empty-table-message">
                <p-message severity="info" text="{{'PAGE-UTILISATEUR.MESSAGES.EMTY-MESSAGE' | translate}}"></p-message>
              </td>
            </tr>
          </ng-template>
        </p-table>


        <p-contextMenu #cm [model]="cmItems"></p-contextMenu>
      </div>
    </div>
  </div>
</p-card>

<p-toast position="top-right"></p-toast>