<div class="route-bar">
    <div class="route-bar-breadcrumb">
        <i class="fa fa-home"></i>
        <span>/ </span>
        <ng-template ngFor let-item let-last="last" [ngForOf]="items">
            <a [routerLink]="item.routerLink" *ngIf="item.routerLink">{{item.label}}</a>
            <ng-container *ngIf="!item.routerLink">{{item.label}}</ng-container>
            <span *ngIf="!last">/</span>
        </ng-template>
    </div>

    <ul class="route-bar-menu">
        <li class="itemTool" *ngIf="add" >
            <i class="pi pi-plus" routerLink="create"></i>
        </li>
        <li class="itemTool" *ngIf="edit" (click)="editProfile()" >
            <i class="pi pi-pencil"></i>
        </li>
        <li class="itemTool" *ngIf="save" (click)="addProfile()">
            <i class="pi pi-save" ></i>
        </li>
        <li class="itemTool" *ngIf="show">
                <i class="fa fa-reply" routerLink="/home/profile"></i>
            </li>
        <li class="itemTool" *ngIf="cancel">
            <i class="pi pi-times" routerLink="/home/profile"></i>
        </li>

    </ul>
</div>
