<p-card class="p-field" class=" p-mb-2">




  <div class='p-fluid p-formgrid p-grid'>
    <div class="p-field p-col" style="margin-bottom: -25px;">
      <h1>{{'PAGE-PROFIL.RECHERCHE' | translate}}</h1>
    </div>
    <div class="p-field p-col-2" style="display: flex;justify-content: flex-end;margin-top: 10px;">
      <button *ngIf="hasAuthoritieCreateProfil()" pButton id="newP" label="{{'CHAMPS-COMMUN.NOUVEAU' | translate}}"
        routerLink="create" icon="pi pi-plus"></button>
    </div>
    <div class="p-formgroup-inline">
      <filters-panel [filters]="profilFilters" (onSearch)="findProfilBy($event)"></filters-panel>
    </div>
  </div>



  <div class="ui-g mrg">
    <div class="ui-g-12 table">
      <p-table #profiles [columns]="profilColumns" [rows]="rows" [resizableColumns]="true" columnResizeMode="expand"
        [scrollable]="true" sortMode="multiple" [reorderableColumns]="true" class="fill-flex-parent standard noscroll"
        [paginator]="true" [lazy]="true" [loading]="loading" loadingIcon="fa fa-refresh"
        [totalRecords]="currentPage.totalElements" [value]="currentPage.content" dataKey="id"
        (onLazyLoad)="loadProfils($event)" [(contextMenuSelection)]="selectedProfil" [contextMenu]="cm"
        selectionMode="single" [(selection)]="selectedProfil" metaKeySelection="true">

        <ng-template pTemplate="colgroup" let-userColumns>
          <colgroup>
            <col *ngFor="let col of profilColumns" [style.width]="col.width">
          </colgroup>
        </ng-template>

        <ng-template pTemplate="caption">
          <div class="p-d-flex p-ai-center p-jc-between">
            <span *ngIf="currentPage.totalElements ==0" class="resultat">{{'CHAMPS-COMMUN.AUCUN-RESULTAT' |
              translate}}</span>
            <span *ngIf="currentPage.totalElements ==1" class="resultat">{{'CHAMPS-COMMUN.UN-RESULTAT' |
              translate}}</span>
            <span *ngIf="currentPage.totalElements > 1" class="resultat"><span
                class="total">{{currentPage.totalElements}}</span>{{'CHAMPS-COMMUN.RESULTATS' | translate}} </span>
            <p-multiSelect [options]="profilColumns" [(ngModel)]="profilColumns" optionLabel="header"
              selectedItemsLabel="" pTooltip="{{'CHAMPS-COMMUN.FILTER-TABLEAU' |  translate}}"
              dropdownIcon="pi pi-table" id="pieces-table-cols" defaultLabel="Choose Columns">
            </p-multiSelect>
          </div>
        </ng-template>

        <ng-template pTemplate="header" let-profilColumns>
          <tr>
            <th *ngFor="let col of profilColumns" pResizableColumn [pSortableColumn]="col.field" pReorderableColumn
              class="ui-resizable-column" [pSortableColumnDisabled]="!col.sortable">
              <span class="header-text"><span class="ellipsis-header">{{col.header}}</span></span>
              <p-sortIcon [field]="col.field" *ngIf="col.sortable"></p-sortIcon>
            </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
          <tr [pContextMenuRow]="rowData" [pSelectableRowDblClick]="rowData" [pSelectableRow]="rowData"
            (dblclick)="onRowSelect()">
            <td [ngSwitch]="col.type" *ngFor="let col of columns" class="ui-resizable-column">
              <span *ngSwitchCase="'datetime'">
                <span>{{rowData[col.field] | date : 'dd/MM/yyyy HH:mm:ss' }} </span>
              </span>
              <span *ngSwitchDefault>{{rowData[col.field]}}</span>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="loadingbody" let-columns="columns">
          <tr class="colHeight">
            <td class="colWidth">
              <div class="loading-text"></div>
            </td>
            <td class="colWidth">
              <div class="loading-text"></div>
            </td>
            <td *ngFor="let col of columns" [style.width]="col.width">
              <div class="loading-text"></div>
            </td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
          <tr *ngIf="columns">
            <td [attr.colspan]="columns.length + 1" class="empty-table-message">
              <p-message severity="info" text="Aucun profils trouvés"></p-message>
            </td>
          </tr>
        </ng-template>

      </p-table>
      <p-contextMenu #cm [model]="cmItems"></p-contextMenu>


    </div>
  </div>
</p-card>
<p-toast position="top-right"></p-toast>