/* LAYOUT */
::ng-deep .layout-main-content
    padding: 0.5em !important
.main
    height: calc(100vh - 48px - 1em)
.main .main-content
    height: 100%
    overflow: hidden
:host .main .main-content .profiles
    padding: .5em
    margin: 0
    display: flex
    flex-direction: column
    overflow: hidden
    height: 100%
:host .main .main-content .profiles .title
    flex-basis: auto
    padding: 0 .5em
:host .main .main-content .profiles .title h1
    width: auto
    display: inline-block
    margin: 8px 0
:host .main .main-content .profiles .title button
    width: auto
    float: right
    margin-top: 8px
:host .main .main-content .profiles .table
    flex-grow: 1
    display: flex
    flex-direction: column
    overflow: hidden
:host ::ng-deep .main .main-content .profiles .table p-table .ui-table-caption
    padding: 0

:host ::ng-deep .main .main-content .profiles .table p-table .ui-table-caption  .ui-multiselect-trigger-icon
    top: 25%
:host ::ng-deep .main .main-content .profiles .table p-table .ui-table-caption p-multiselect
    float: right
:host ::ng-deep .main .main-content .profiles .table p-table .ui-table-caption .resultat
    float: left
    padding: 4px 6px
:host ::ng-deep .main .main-content .profiles .table p-table .ui-table-scrollable-wrapper td .image-content img
    height: 29px
    width: 29px
    border-radius: 14px
    margin-left: -2px
    border: 1px solid #d6d7d9
    border-spacing: 1px

.right
    text-align: end

.mrg
    margin: .5em
    padding: 0px
    background-color: white

.noscroll
    height: calc(29em - 10px )


