<p-card class="p-field" class=" p-mb-2">
    <p-table #dt2 [value]="customers" dataKey="id" [rows]="10" [showCurrentPageReport]="true"
        [rowsPerPageOptions]="[10,25,50]" [loading]="loading" styleClass="p-datatable-customers" [paginator]="true"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
        [globalFilterFields]="['nom','dateImport','urlFile','status']">
        <ng-template pTemplate="caption">
            <div class="p-d-flex">
                <label for="inputtext" class="p-button-outlined">Historique de importation du fichier des
                    Patients</label>
                <span class="p-input-icon-left p-ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt2.filterGlobal($event.target.value, 'contains')"
                        placeholder="Search keyword" />
                    <p-button icon="pi pi-times" class="p-ml-auto" styleClass="p-button-danger" (click)="back()"></p-button>
                </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Nom File</th>
                <th>Date Importation</th>
                <th>URL File</th>
                <th>Status</th>
            </tr>
            <tr>
                <th>
                    <p-columnFilter type="text" field="nom"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="date" field="dateImport"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter type="text" field="urlFile"></p-columnFilter>
                </th>
                <th>
                    <p-columnFilter field="status" matchMode="equals" [showMenu]="false">
                        <ng-template pTemplate="filter" let-value let-filter="filterCallback">
                            <p-dropdown [ngModel]="value" [options]="statuses" (onChange)="filter($event.value)"
                                placeholder="Any" [showClear]="true">
                                <ng-template let-option pTemplate="item">
                                    <span [class]="'customer-badge status-' + option.value">{{option.label}}</span>
                                </ng-template>
                            </p-dropdown>
                        </ng-template>
                    </p-columnFilter>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
            <tr>
                <td>
                    {{customer.nom}}
                </td>
                <td>
                    <span class="image-text">{{customer.dateImport}}</span>
                </td>
                <td>
                    <span class="image-text">{{customer.urlFile}}</span>
                </td>
                <td>
                    <span *ngIf="customer.status == 'COMPLETED'" class="status-COMPLETED">{{customer.status}}</span>
                    <span *ngIf="customer.status == 'FAILED'" class="status-FAILED">{{customer.status}}</span>
                </td>

            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
            <tr>
                <td colspan="4">No History found.</td>
            </tr>
        </ng-template>
    </p-table>
</p-card>