/*Main Layout*/
::ng-deep .layout-main-content,
:host ::ng-deep .patient-management-edit .card.card-w-title
    padding: .5em
.patient-management-edit .title
    padding: 0 .5em
    display: block
:host .patient-management-edit .title h1
    width: auto
    display: inline-block
    margin: 8px 0
.patient-management-edit .title .action-buttons
    display: block
    float: right
.patient-management-edit .title .action-buttons button
    width: auto
/*Image Style*/
:host ::ng-deep p-fileupload
    display: none
.image-previw
    padding: 5px
    border: 4px solid #f6f6f6
    border-radius: 57px
    display: table
    margin: 0 auto
.image-previw img
    height: 96px
    width: 100px
    border-radius: 50px
    cursor: pointer




/* VALIDATION Style*/
:host .invalid input
    border-color : #cc0000!important
:host .invalid span.error-message
    display : inline
:host span.error-message
    font-size: 12px
    display: none
    color: #cc0000
:host span.warning-message
    font-size: 12px
    color: #cc0000

/* client component block ui style*/
:host ::ng-deep .ui-blockui.ui-widget-overlay
  background-color: rgba(0, 0, 0, 0.1)
:host ::ng-deep .ui-blockui.ui-widget-overlay .ui-table-loading-icon
  position: absolute
  top: calc(50% - 0.25em)
  left: 50%
/* client component block ui style END*/

/*Messages style*/
:host ::ng-deep .patient-management-edit p-messages
    width: 100%
:host ::ng-deep .patient-management-edit p-messages .ui-messages
    width: 100%
    margin: 0
    margin-bottom: .5em
/* utocmplete blue dropdown button style*/

:host ::ng-deep .profile-complete.ui-autocomplete .ui-autocomplete-dropdown
    background-color: white
    border-color: #aeb0b5
:host ::ng-deep .profile-complete.ui-autocomplete .ui-autocomplete-dropdown .ui-button-icon-left
    color: #132e51
:host ::ng-deep .disabledc>span>button>span.pi.pi-caret-down
    display: none
:host ::ng-deep #warningIdentifiant>.ui-messages-warn
    margin-top: 5px

:host ::ng-deep p-blockui .ui-blockui
  height: 55%
  background-color: rgba(0,0,0,0.1)

.pwdbutton
    display: flex
    justify-content: center

.champobligatoire
    display: flex
    justify-content: flex-end
    color: red




:host ::ng-deep .dark-panel.p-toolbar
  background: #21212100
  border: 1px solid #dee2e600
  margin-top: -25px
  padding: 0rem
  position: absolute
  right: 15px
