<p-card class="p-fluid" >
  <div class="p-col-12">
    <p-messages [(value)]="msgs"></p-messages>
  </div>
  <p-toolbar styleClass="dark-panel">
    <div class="p-toolbar-group-left"></div>
    <div class="p-toolbar-group-right">

      <p-button icon="pi pi-save" class="p-mr-2 p-d-inline-block"
                (click)="save()" *ngIf="!readonly"
      ></p-button>
      <p-button icon="pi pi-user-edit" class="p-mr-2 p-d-inline-block" styleClass="p-button-success"
                *ngIf="readonly && hasAuthoritieCreate()"
                (click)="edit(patient)"
      ></p-button>
      <p-button icon="pi pi-times" class="p-mr-2 p-d-inline-block" styleClass="p-button-danger"
                (click)="back()"
      ></p-button>
    </div>
  </p-toolbar>
  <form [formGroup]="patientform">
  <p-tabView styleClass="tabview-custom">
    <p-tabPanel>
      <ng-template pTemplate="header">
        <i class="pi pi-calendar"></i>
        <span>Information de Patient </span>
      </ng-template>


        <div class="p-fluid p-formgrid p-grid">
          <div class="p-field p-col-12 p-md-3">
            <label for="nom">{{'PAGE-PATIENTS.LABELS.NOM' | translate}} :</label>
            <input
              id="nom" type="text" formControlName="nom" pInputText
              [attr.disabled]="readonly == true ? true : null== true ? true : null"/></div>
          <div class="p-field p-col-12 p-md-3"><label for="prenom">{{'PAGE-PATIENTS.LABELS.PRENOM' | translate}}
            :</label>
            <input id="prenom" type="text" formControlName="prenom" pInputText
                   [attr.disabled]="readonly == true ? true : null== true ? true : null"/></div>
          <div class="p-field p-col-12 p-md-3"><label for="email">{{'PAGE-PATIENTS.LABELS.EMAIL' | translate}} :</label>
            <input id="email" type="text" formControlName="email" pInputText
                   [attr.disabled]="readonly == true ? true : null== true ? true : null"/></div>
          <div class="p-field p-col-12 p-md-3"><label for="cnam">{{'PAGE-PATIENTS.LABELS.CNAM' | translate}} :</label>
            <input id="cnam" type="text" formControlName="cnamNum" pInputText
                   [attr.disabled]="readonly == true ? true : null== true ? true : null"/></div>
          <div class="p-field p-col-12 p-md-6"><label for="profession">{{'PAGE-PATIENTS.LABELS.PROFISSON' | translate}}
            :</label> <input id="profession" type="text" formControlName="profession" pInputText
                             [attr.disabled]="readonly == true ? true : null== true ? true : null"/></div>
          <div class="p-field p-col-12 p-md-6"><label for="adressepar">{{'PAGE-PATIENTS.LABELS.ADRESSEPAR' | translate}}
            :</label> <input id="adressepar" type="text" formControlName="profession" pInputText
                             [attr.disabled]="readonly == true ? true : null== true ? true : null"/></div>
          <div class="p-field p-col-12 p-md-6"><label
            for="numTel">               {{'PAGE-PATIENTS.LABELS.TEL' | translate}}
            : </label>
            <p-inputMask id="numTel" formControlName="tel" mask="+216 99 999 999" [(ngModel)]="val3"
                         placeholder="+216 99 999 999"
                         [disabled]="readonly == true ? true : null== true ? true : null"></p-inputMask>
          </div>
          <div class="p-field p-col-12 p-md-6"><label
            for="datenaissance">               {{'PAGE-PATIENTS.LABELS.DATENAISSAINCE' | translate}} : </label>
            <p-calendar id="datenaissance" inputId="basic" formControlName="dateNaissance" [ngModel]="valuedateNaissa"
                        [disabled]="readonly == true ? true : null== true ? true : null"></p-calendar>
          </div>
          <div class="p-field p-col-12"><label for="address">{{'PAGE-PATIENTS.LABELS.ADRESSE' | translate}} :</label>
            <textarea id="address" [attr.disabled]="readonly == true ? true : null== true ? true : null"
                      formControlName="adresse" rows="2" cols="50" pInputTextarea></textarea></div>

        </div>

    </p-tabPanel>
    <p-tabPanel>
      <ng-template pTemplate="header">
        <i class="pi pi-calendar"></i>
        <span>Diagnotic et traittement </span>
      </ng-template>
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12 p-md-12">
      <div class="p-field p-col-12"><label for="diagnostic">{{'PAGE-PATIENTS.LABELS.DIAGNOSTIC' | translate}}  :</label>
        <textarea id="diagnostic" [attr.disabled]="readonly == true ? true : null== true ? true : null"
                  formControlName="diagnostic" rows="2" cols="50" pInputTextarea></textarea></div>
      <div class="p-field p-col-12"><label for="atcds">{{'PAGE-PATIENTS.LABELS.ATCDS' | translate}} :</label>
        <textarea id="atcds" [attr.disabled]="readonly == true ? true : null== true ? true : null"
                  formControlName="atcds"  rows="2" cols="50" pInputTextarea></textarea></div>
        </div>
      </div>
    </p-tabPanel>

    <p-tabPanel>
      <ng-template pTemplate="header">
        <i class="pi pi-calendar"></i>
        <span>Rendez-Vous </span>
      </ng-template>
      <p-table [value]="ListRennduvous" selectionMode="single"  [paginator]="true" [rows]="5">
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="dateRendezVous">dateRendezVous<p-sortIcon field="dateRendezVous"></p-sortIcon></th>
            <th pSortableColumn="typeRendezVous">typeRendezVous <p-sortIcon field="typeRendezVous"></p-sortIcon></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-rendu>
          <tr [pSelectableRow]="rowData">
            <td>{{rendu.dateRendezVous}}</td>
            <td>{{rendu.typeRendezVous}}</td>
          </tr>
        </ng-template>
      </p-table>
    </p-tabPanel>

  </p-tabView>
  </form>
</p-card>
