<p-toast></p-toast>
<p-card class="p-field" class=" p-mb-2">
  <p-toolbar styleClass="p-mb-4">
    <ng-template pTemplate="left">
      <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success p-mr-2"
        (click)="openNew()"></button>
    </ng-template>

    <ng-template pTemplate="right">
      <p-fileUpload mode="basic"  customUpload="true" name="myfile[]" [maxFileSize]="1000000" label="Import" chooseLabel="Import"
        class="p-mr-2 p-d-inline-block" (uploadHandler)="onUpload($event)" ></p-fileUpload>
      <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
    </ng-template>
  </p-toolbar>

  <p-table #dt [value]="products" [rows]="10" [paginator]="true"
    [globalFilterFields]="['nom','prenom','ficheMedicaleNumber','cnamNum', 'tel']" [(selection)]="selectedProducts"
    [rowHover]="true" dataKey="id" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [showCurrentPageReport]="true">
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <h5 class="p-m-0">Liste des patiens</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
            placeholder="Search..." />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pSortableColumn="nom">Nom <p-sortIcon field="nom"></p-sortIcon>
        </th>
        <th pSortableColumn="prenom">Prenom <p-sortIcon field="prenom"></p-sortIcon>
        </th>
        <th pSortableColumn="email">Email <p-sortIcon field="email"></p-sortIcon>
        </th>
        <th pSortableColumn="diagnostic">Diagnostic <p-sortIcon field="diagnostic"></p-sortIcon>
        </th>
        <th pSortableColumn="cnamNum">Num CNAM <p-sortIcon field="cnamNum"></p-sortIcon>
        </th>
        <th pSortableColumn="profession">Profession <p-sortIcon field="profession"></p-sortIcon>
        </th>
        <th pSortableColumn="tel">Télephone <p-sortIcon field="tel"></p-sortIcon>
        </th>
        <th pSortableColumn="atcds">ATCDS <p-sortIcon field="atcds"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr [pContextMenuRow]="product" [pSelectableRowDblClick]="product" [pSelectableRow]="product"
      (dblclick)="onRowSelect($event,product)">
        <td>
          <p-tableCheckbox [value]="product"></p-tableCheckbox>
        </td>
        <td>{{product.nom}}</td>
        <td>{{product.prenom}}</td>
        <td>{{product.email}}</td>
        <td>{{product.diagnostic}}</td>
        <td>{{product.cnamNum}}</td>
        <td>{{product.profession}}</td>
        <td>{{product.tel}}</td>
        <td>{{product.atcds}}</td>
        <td>
          <button pButton pRipple  icon="pi pi-search" class="p-button-rounded p-button-success p-mr-2"
            (click)="afficheRendu($event , op  , product)"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"
            (click)="deleteProduct(product)"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        In total there are {{products ? products.length : 0 }} patients.
      </div>
    </ng-template>
  </p-table>
</p-card >

<p-dialog [(visible)]="productDialog" [style]="{width: '450px'}" header="Patient Details" [modal]="true"
  styleClass="p-fluid">
  <ng-template pTemplate="content">
    <div class="p-field">
      <label for="nom">Nom</label>
      <input type="text" pInputText id="name" [(ngModel)]="product.nom" required autofocus />
      <small class="p-error" *ngIf="submitted && !product.nom">Nom is required.</small>
    </div>
    <div class="p-field">
      <label for="prenom">Prenom</label>
      <input type="text" pInputText id="prenom" [(ngModel)]="product.prenom" required autofocus />
      <small class="p-error" *ngIf="submitted && !product.prenom">Prenom is required.</small>
    </div>
    <div class="p-field">
      <label for="email">email</label>
      <input type="text" pInputText id="email" [(ngModel)]="product.email" required autofocus />
      <small class="p-error" *ngIf="submitted && !product.email">email is required.</small>
    </div>
    <div class="p-field">
      <label for="diagnostic">diagnostic</label>
      <input type="text" pInputText id="diagnostic" [(ngModel)]="product.diagnostic" required
        autofocus />
      <small class="p-error" *ngIf="submitted && !product.diagnostic">diagnostic is required.</small>
    </div>
    <div class="p-field">
      <label for="cnamNum">cnamNum</label>
      <input type="text" pInputText id="cnamNum" [(ngModel)]="product.cnamNum" required autofocus />
      <small class="p-error" *ngIf="submitted && !product.cnamNum">NcnamNumm is required.</small>
    </div>
    <div class="p-field">
      <label for="profession">profession</label>
      <input type="text" pInputText id="profession" [(ngModel)]="product.profession" required
        autofocus />
      <small class="p-error" *ngIf="submitted && !product.profession">profession is required.</small>
    </div>
    <div class="p-field">
      <label for="tel">tel</label>
      <input type="text" pInputText id="tel" [(ngModel)]="product.tel" required autofocus />
      <small class="p-error" *ngIf="submitted && !product.tel">tel is required.</small>
    </div>
    <div class="p-field">
      <label for="atcds">atcds</label>
      <input type="text" pInputText id="atcds" [(ngModel)]="product.atcds" required autofocus />
      <small class="p-error" *ngIf="submitted && !product.atcds">atcds is required.</small>
    </div>
    <div class="p-field">
      <label for="atcds">dateNaissance</label>
      <p-calendar inputId="basic" formControlName="dateNaissance"[ngModel]="valuedateNaissa"
                            [disabled]="readonly == true ? true : null== true ? true : null"></p-calendar>
    </div>

  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveProduct()"></button>
  </ng-template>
</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>

<p-overlayPanel #op [showCloseIcon]="true" [style]="{width: '450px'}">
  <ng-template pTemplate>
      <p-table [value]="ListRennduvous" selectionMode="single" [(selection)]="selectedProduct" (onRowSelect)="onRowSelect($event)" [paginator]="true" [rows]="5">
          <ng-template pTemplate="header">
              <tr>
                  <th pSortableColumn="dateRendezVous">dateRendezVous<p-sortIcon field="dateRendezVous"></p-sortIcon></th>
                  <th pSortableColumn="typeRendezVous">typeRendezVous <p-sortIcon field="typeRendezVous"></p-sortIcon></th>
              </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData let-rendu>
              <tr [pSelectableRow]="rowData">
                  <td>{{rendu.dateRendezVous}}</td>
                  <td>{{rendu.typeRendezVous}}</td>
              </tr>
          </ng-template>
      </p-table>
  </ng-template>
</p-overlayPanel>
