<div class="filters" >

    <div class="filter" *ngFor="let filter of filters" [ngSwitch]="filter.type" [ngClass]="filter.type == 'boolean' ? 'checkbox' : ''">
        <div class="label ui-g-12">{{filter.label}}</div>

        <p-triStateCheckbox *ngSwitchCase="'boolean'" [(ngModel)]="criteria[filter.id]" (onChange)="find($event)"></p-triStateCheckbox>

        <span class="value" *ngSwitchCase="'string'">
            <input #refIn [(ngModel)]="criteria[filter.id]" (keyup)="find($event)" (blur)="find($event)" class="p-inputtext-sm" [attr.data-prop]="filter.id" pInputText />
            <span class="close-button" *ngIf="criteria[filter.id]" (mousedown)="onInputFilterReset(refIn)">
              <i class="fa fa-close"></i></span>
        </span>

        <span class="value" *ngSwitchCase="'date'"> 
            <p-calendar #refEl  [showIcon]="false" [(ngModel)]="criteria[filter.id]" 
              (onClose)="find($event)" showButtonBar="true" dateFormat="dd/mm/yy" [attr.data-changed]="false" (onSelect)="onCalendarFilterSelect(refEl)"></p-calendar>
              <span class="close-button" *ngIf="criteria[filter.id]" (click)="onCalendarFilterReset(refEl)">
              <i class="fa fa-close"></i></span>
        </span>
    </div>

    <div class="serach-btns">
      <button  pButton type="button" icon="fa fa-undo" class="ui-button-rounded ui-button-success" (click)="resetSearch()" pTooltip="{{'FILTER-RECHERCHE-COMMUN.REFRESH' | translate }}"></button>
    </div>
</div>
