:host .filters
    height: 80px
:host .filters
  display: flex
  padding: 8px
  position: relative
  flex-shrink : 0
  @media screen and (min-width: 40.063em) and (max-width: 64.063em)
    height: 120px 
    flex-flow: wrap
  @media screen and (max-width: 40.063em) 
    overflow-x: auto
    flex-wrap: wrap
:host .filters .filter
  padding: .1em
  width: calc(93% / 7)
  @media screen and (min-width: 40.063em) and (max-width: 64.063em)
    width: 20%
  @media screen and (max-width: 40.063em)
    width: 25%
:host .filters .filter span.value
    width: 98%
:host .filters .filter:nth-child(n+6)
   @media screen and (min-width: 40.063em) and (max-width: 64.063em)
    width: calc(20% - 5.5px)
:host .filters .serach-btns
  display: flex
  align-items: center
  width: 27px
  @media screen and (max-width: 64.063em)
    padding-top: 23px
:host .filters .filter .label
  padding-left: 0
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
:host ::ng-deep .filters .filter span.value
  display: inline-block
  position: relative
:host ::ng-deep .filters .filter span.value > span.close-button
  position: absolute
  bottom: 0.3em
  right: .5em
  padding: 0 1px
  color: transparent
  cursor: pointer
  border: 1px solid transparent
  border-radius: 2px
:host ::ng-deep .filters .filter span.value > input + span.close-button:hover,
:host ::ng-deep .filters .filter span.value > .ui-inputwrapper-focus + span.close-button:hover
  border-color: #aeb0b54d
:host ::ng-deep .filters .filter span.value > input + span.close-button,
:host ::ng-deep .filters .filter span.value > .ui-inputwrapper-focus + span.close-button
  color: #aeb0b5
:host ::ng-deep .filters .filter  input
  height: 26px!important
:host .filters .filter.checkbox
  width: 7%
  @media screen and (min-width: 40.063em) and (max-width: 64.063em)
    width: 20%
  @media screen and (max-width: 40.063em)
    width: 25%
:host .filters .serach-btns .ui-button-success.ui-button
  border-radius: 3px
  width: 27px
  height: 27px
:host ::ng-deep .filters span.value p-calendar
  width: 100%
  display: inline-block
:host ::ng-deep .filters span.value p-calendar .ui-calendar,
:host ::ng-deep .filters span.value p-calendar .ui-calendar input
  width: 100%