#pieces-table-cols .ui-multiselect .ui-multiselect-trigger .ui-multiselect-trigger-icon:before{
    content: "\e969";
}
.div-like-button,  .div-like-button > div.ui-multiselect{
    width: 1.6em;
    height: 1.6em;
    margin: 0
}

.div-like-button > div.ui-multiselect .ui-multiselect-trigger{
    width: 1.5em;
    height: 1.5em
}
.div-like-button > div.ui-multiselect{
    border: none;
}
.div-like-button{
    font-size: 16px;
    cursor: pointer;
}
.div-like-button .ui-multiselect .ui-multiselect-trigger{
    background-color: #3971bc;
    color: white;
}
.div-like-button .ui-multiselect .ui-multiselect-trigger:hover{
    background-color:  #205493;
}
.div-like-button .ui-multiselect-trigger-icon{
    font-size: 20px;
}

#pieces-table-cols .ui-multiselect{
    background-color:#0071bc
}
#pieces-table-cols:hover .ui-multiselect,
#pieces-table-cols:hover .ui-multiselect .ui-multiselect-trigger,
#pieces-table-cols:hover{
    background-color: #295493;
}
#pieces-table-cols .ui-multiselect-panel{
    left: -220px!important
}

/*p-selectbutton style */

.pSelectButtonStyle{
  flex: 1!important;
}
.pSelectButtonStyle div.ui-selectbutton.ui-buttonset.ui-widget.ui-corner-all.ui-buttonset-3{
  display:flex!important;
  justify-content: stretch!important;
}
.pSelectButtonStyle div.ui-button.ui-widget.ui-state-default.ui-button-text-only.ng-star-inserted{
  flex-grow: 1!important;
  padding: 7px!important;
  font-weight:normal!important;
  font-size: 14px;
  color: #212121;
  background: #ffffff;
  border: 1px solid #d6d7d9 ;
}

.pSelectButtonStyle div.ui-button.ui-widget.ui-state-default.ui-button-text-only.ng-star-inserted.ui-state-active{
  color:#fff!important;
  background-color: #132d51!important;
}
.ui-panel-content-wrapper > .ui-panel-content.ui-widget-content{
  padding: 1px!important;
}

#detailClient span.pi.pi-minus {
  color: #fff !important;
}
#detailClient span.pi.pi-plus {
  color: #fff !important;
}


.rounded{
  width: 30px;
  height: 30px;
  border-radius: 20px;
  background: #0073bc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.rounded i{
  color: #fff;
  font-size: 15px;
}


.est-montant{
  float: right;
}
/*style scroll bar pannel regions and portefeuilles topbar*/

.list-panel .ui-scrollpanel-bar {
  background-color: #00a6d2;
  opacity: 1;
  transition: background-color .3s;
  width: 5px;
}
.layout-topbar .ui-scrollpanel-bar-x{
  opacity: 0.0!important;
}

.list-panel .ui-scrollpanel-bar:hover {
  background-color: #135ba1;
}
#list-panel-region .ui-scrollpanel-bar-y{
  height: 13%!important;
}
.ui-confirmdialog-icon{
  color: red!important;
}
/*if panel action is open disable top bar filtre and profile */
a.disabled {
  pointer-events: none;
  cursor: default;

}
a.disabled span{
  opacity: 0.35;
 }
a.disabled i{
  opacity: 0.35;
}

i.fa.disabled{
  opacity: 0.35;
}
/* menu scroll panel disabled */
div.grise{
  opacity: 0.5;
  pointer-events: none;
  cursor: default;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* Chrome */
input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin:0;
}
/*ce classe à utiliser pour les panels contacts, pj et action*/
.rightPanel {
  width: 25%;
  position: absolute;
  z-index: 2;
  height: 86%;
  top: 85px;
  background-color: white;
  border-right: 1px solid #d6d7d9;
  border-left: 1px solid #d6d7d9;
  margin-left: calc(71% - -4px);
  overflow: auto;
  padding: 4px;
}
span.error-message {
  font-size: 12px;
  color: #cc0000;
}
.required-etoile {
  color: red;
}
/*ce classe est pour que height des tables soit fixe et truncate les colonnes larges*/
.truncate {
  white-space: nowrap;
  overflow: hidden;
  max-width: 100%;
  text-overflow: ellipsis;
}

/* Numero piece lien avec serensia serveurn( dans pieces component et pieces selectionnees component  */
.url-serensia-span {
  padding: 2px 9px;
  border-radius: 14px;
  background-color: #95c83d;
  color: white;
  cursor: pointer;
  text-align: center;
  display: block;
  margin-left: 15px;
  margin-right: 15px;
}
.url-serensia-span>a {
  text-decoration: none;
  color: white;
}







