
  <ul class="header-menu">

    <li>
      <a class="header-menu-tab" href="#2">
        <span class="icon fontawesome-user scnd-font-color" style="    display: block;
    height: 26px;text-align: center;"></span>
        <p style="
        text-align: center;">Account</p>
      </a>

    </li>
    <li>
      <a class="header-menu-tab" href="#2">
        <span class="icon fontawesome-user scnd-font-color" style="    display: block;
    height: 26px;text-align: center;"></span>
        <p style="
        text-align: center;">Account</p>
      </a>

    </li>
    <li>
      <a class="header-menu-tab" href="#2">
        <span class="icon fontawesome-user scnd-font-color" style="    display: block;
    height: 26px;text-align: center;"></span>
        <p style="
        text-align: center;">Account</p>
      </a>

    </li>
    <li>
      <a class="header-menu-tab" href="#2">
        <span class="icon fontawesome-user scnd-font-color" style="    display: block;
    height: 26px;text-align: center;"></span>
        <p style="
        text-align: center;">Account</p>
      </a>

    </li>
  </ul>
  <div class="profile-menu">
    <p>Me <a href="#26"><span class="entypo-down-open scnd-font-color"></span></a></p>
    <div class="profile-picture small-profile-picture">
      <img width="40px" alt="Anne Hathaway picture" src="http://upload.wikimedia.org/wikipedia/commons/e/e1/Anne_Hathaway_Face.jpg">
    </div>
  </div>


