/** Inspired by: http://graphicburger.com/flat-design-ui-components/ **/
/** Line-chart and donut-chart made by @kseso https://codepen.io/Kseso/pen/phiyL **/


/************************************ FONTS ************************************/
@import url(https://fonts.googleapis.com/css?family=Ubuntu:400,700)
@import url(https://weloveiconfonts.com/api/?family=entypo|fontawesome|zocial)
/* entypo */
[class*="entypo-"]:before
  font-family: 'entypo', sans-serif

/* fontawesome */
[class*="fontawesome-"]:before
  font-family: 'FontAwesome', sans-serif

/* zocial */
[class*="zocial-"]:before
  font-family: 'zocial', sans-serif

@font-face
  font-family: 'icomoon'

  font-weight: normal
  font-style: normal


[class^="icon-"], [class*=" icon-"]
  font-family: 'icomoon'
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

.icon-cloudy:before
  content: "\e60f"

.icon-sun:before
  content: "\e610"

.icon-cloudy2:before
  content: "\e611"

/************************************* END FONTS *************************************/

*
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box



ul
  list-style-type: none

  padding-left: 0


h1
  font-size: 23px


h2
  font-size: 17px


p
  font-size: 15px


a
  text-decoration: none
  font-size: 15px

a:hover
  text-decoration: underline


h1, h2, p, a, span
  color: #fff

.scnd-font-color
  color: #9099b7


.input-container
  position: relative

input[type=text]
  width: 260px
  height: 50px
  margin-left: 20px
  margin-bottom: 20px
  padding-left: 45px
  background: #50597b
  color: #fff
  border: solid 1px #1f253d
  border-radius: 5px


.input-icon
  font-size: 22px
  position: absolute
  left: 31px
  top: 10px

.input-icon.password-icon
  left: 35px


.horizontal-list
  margin: 0
  padding: 0
  list-style-type: none

.horizontal-list li
  float: left



.clear
  clear: both


.icon
  font-size: 25px


.titular
  display: block
  line-height: 60px
  margin: 0
  text-align: center
  border-top-left-radius: 5px
  border-top-right-radius: 5px


.button
  display: block
  width: 175px
  line-height: 50px
  font-size: 16px
  font-weight: 700
  text-align: center
  margin: 0 auto
  border-radius: 5px


.button:hover
  text-decoration: none


.arrow-btn-container
  position: relative

.arrow-btn
  position: absolute
  display: block
  width: 60px
  height: 60px
  -webkit-transition: background .3s
  transition: background .3s

.arrow-btn:hover
  text-decoration: none

.arrow-btn.left
  border-top-left-radius: 5px

.arrow-btn.right
  border-top-right-radius: 5px
  right: 0
  top: 0

.arrow-btn .icon
  display: block
  font-size: 18px
  border: 2px solid #fff
  border-radius: 100%
  line-height: 17px
  width: 21px
  margin: 20px auto
  text-align: center

.arrow-btn.left .icon
  padding-right: 2px


.profile-picture
  border-radius: 100%
  overflow: hidden
  -webkit-box-sizing: content-box
    -moz-box-sizing: content-box
    box-sizing: content-box

.big-profile-picture
  margin: 0 auto
  border: 5px solid #50597b
  width: 150px
  height: 150px

.small-profile-picture
  border: 2px solid #50597b
  width: 40px
  height: 40px



/** MAIN CONTAINER **/

.main-container
  font-family: 'Ubuntu', sans-serif
  width: 950px
  height: 1725px
  margin: 6em auto

header
  height: 80px

.header-menu
  font-size: 17px
  width: 90px
  line-height: 50px
  background-color: #394264

.header-menu li
  position: relative
  height: 90px


.header-menu-tab
  display: block
  line-height: 74px
  font-size: 17px


.header-menu-tab:hover
  background: #50597b
  border-left: 4px solid #11a8ab
  text-decoration: none
  height: 90px

.header-menu-tab .icon
  padding-right: 10px

.header-menu-number
  position: absolute
  line-height: 22px
  padding: 0 6px
  font-weight: 700
  background: #e64c65
  border-radius: 100%
  top: 15px
  right: 2px
  -webkit-transition: all .3s linear
  transition: all .3s linear

.header-menu li:hover .header-menu-number
  text-decoration: none
  -webkit-transform: rotate(360deg)
  transform: rotate(360deg)


.profile-menu
  float: right
  height: 80px
  padding-right: 20px

.profile-menu p
  font-size: 17px
  display: inline-block
  line-height: 76px
  margin: 0
  padding-right: 10px

.profile-menu a
  padding-left: 5px

.profile-menu a:hover
  text-decoration: none

.small-profile-picture
  display: inline-block
  vertical-align: middle

/** CONTAINERS **/
.container
  float: left
  width: 300px

.block
  margin-bottom: 25px
  background: #394264
  border-radius: 5px

.left-container
  .menu-box
    height: 360px

  .menu-box .titular
    background: #11a8ab

  .menu-box-menu .icon
    display: inline-block
    vertical-align: top
    width: 28px
    margin-left: 20px
    margin-right: 15px

  .menu-box-number
    width: 36px
    line-height: 22px
    background: #50597b
    text-align: center
    border-radius: 15px
    position: absolute
    top: 15px
    right: 15px
    -webkit-transition: all .3s
    transition: all .3s

  .menu-box-menu li
    height: 60px
    position: relative

  .menu-box-tab
    line-height: 60px
    display: block
    border-bottom: 1px solid #1f253d
    -webkit-transition: background .2s
    transition: background .2s

  .menu-box-tab:hover
    background: #50597b
    border-top: 1px solid #1f253d
    text-decoration: none

  .menu-box-tab:hover .icon
    color: #fff

  .menu-box-tab:hover .menu-box-number
    background: #e64c65

  .donut-chart-block
    height: 434px

  .donut-chart-block .titular
    padding: 10px 0

  .donut-chart
    height: 270px

    .donut-chart
      position: relative
      width: 200px
        height: 200px
      margin: 0 auto 2rem
      border-radius: 100%


  .os-percentage
    margin: 0
    padding: 0 0 15px 10px
    font-size: 25px

  .line-chart-block
    height: 400px

  .line-chart
    height: 200px
    background: #11a8ab


  .grafico
    padding: 2rem 1rem 1rem
    width: 100%
    height: 100%
    position: relative
    color: #fff
    font-size: 80%

  .grafico span
    display: block
    position: absolute
    bottom: 3rem
    left: 2rem
    height: 0
    border-top: 2px solid
    -webkit-transform-origin: left center
    transform-origin: left center





  [data-valor]:before
    content: ''
    position: absolute
    display: block
    right: -4px
    bottom: -3px
    padding: 4px
    background: #fff
    border-radius: 50%

  [data-valor='23']:after
    content: '+' attr(data-valor) '%'
    position: absolute
    right: -2.7rem
    top: -1.7rem
    padding: .3rem .5rem
    background: #50597B
    border-radius: .5rem
    -webkit-transform: rotate(45deg)
    transform: rotate(45deg)

  [class^='eje-']
    position: absolute
    left: 0
    bottom: 0rem
    width: 100%
    padding: 1rem 1rem 0 2rem
    height: 80%

  .eje-x
    height: 2.5rem

  .eje-y li
    height: 25%
    border-top: 1px solid #777

  [data-ejeY]:before
    content: attr(data-ejeY)
    display: inline-block
    width: 2rem
    text-align: right
    line-height: 0
    position: relative
    left: -2.5rem
    top: -.5rem

  .eje-x li
    width: 33%
    float: left
    text-align: center

  .time-lenght
    padding-top: 22px
    padding-left: 38px

  .time-lenght-btn
    display: block
    width: 70px
    line-height: 32px
    background: #50597b
    border-radius: 5px
    font-size: 14px
    text-align: center
    margin-right: 5px
    -webkit-transition: background .3s
    transition: background .3s

  .time-lenght-btn:hover
    text-decoration: none
    background: #e64c65

  .month-data
    padding-top: 28px

  .month-data p
    display: inline-block
    margin: 0
    padding: 0 25px 15px
    font-size: 16px

  .month-data p:last-child
    padding: 0 25px
      float: right
    font-size: 15px

  .increment
    color: #e64c65

  .media
    height: 216px

  #media-display
    position: relative
    height: 180px
    background: #787878 url('https://www.fancinema.com.ar/wp-content/uploads/catwoman1.jpg') center top

  #media-display .play
    position: absolute
    top: 75px
    right: 32px
    border: 2px solid #fff
    border-radius: 100%
    padding: 2px 5px 2px 9px

  #media-display .play:hover
    border: 2px solid #e64c65

  .media-control-bar
    padding: 6px 0 0 15px

  .media-btn, .time-passed
    display: inline-block
    margin: 0

  .media-btn
    font-size: 19px

  .media-btn:hover, .media-btn:hover span
    text-decoration: none
    color: #e64c65

  .play
    margin-right: 100px

  .volume
    margin-left: 30px

  .resize
    margin-left: 12px

  .left-container .social
    height: 110px

  .left-container .social li
    width: 75px
    height: 110px

  .left-container .social li .icon
    text-align: center
    font-size: 20px
    margin: 0
    line-height: 75px

  .left-container .social li .number
    text-align: center
    margin: 0
    line-height: 34px

  .left-container .social .facebook
    background: #3468af
    border-top-left-radius: 5px
    border-bottom-left-radius: 5px

  .left-container .social .facebook .number
    background: #1a4e95
    border-bottom-left-radius: 5px

  .left-container .social .twitter
    background: #4fc4f6

  .left-container .social .twitter .icon
    font-size: 18px

  .left-container .social .twitter .number
    background: #35aadc

  .left-container .social .googleplus
    background: #e64c65

  .left-container .social .googleplus .number
    background: #cc324b

  .left-container .social .mailbox
    background: #50597b
    border-top-right-radius: 5px
    border-bottom-right-radius: 5px

  .left-container .social .mailbox .number
    background: #363f61
    border-bottom-right-radius: 5px

/************************************************** MIDDLE CONTAINER **********************************/
.middle-container
  margin: 0 25px

.profile
  height: 410px

.add-button .icon
  float: right
  line-height: 18px
  width: 23px
  border: 2px solid
  border-radius: 100%
  font-size: 18px
  text-align: center
  margin: 10px

.add-button .icon:hover
  color: #e64c65
  border-color: #e64c65

.user-name
  margin: 25px 0 16px
  text-align: center

.profile-description
  width: 210px
  margin: 0 auto
  text-align: center

.profile-options
  padding-top: 23px

.profile-options li
  border-left: 1px solid #1f253d

.profile-options p
  margin: 0

.profile-options a
  display: block
  width: 99px
  line-height: 60px
  text-align: center
  -webkit-transition: background .3s
  transition: background .3s

.profile-options a:hover
  text-decoration: none
  background: #50597b

.profile-options a:hover.comments .icon
  color: #fcb150

.profile-options a:hover.views .icon
  color: #11a8ab

.profile-options a:hover.likes .icon
  color: #e64c65

.profile-options .icon
  padding-right: 10px

.profile-options .comments
  border-top: 4px solid #fcb150

.profile-options .views
  border-top: 4px solid #11a8ab

.profile-options .likes
  border-top: 4px solid #e64c65

.weather
  height: 555px

.weather .titular
  background: #cc324b

.weather .titular .icon
  padding-right: 15px
  font-size: 26px

.weather .current-day
  height: 135px
  background: #e64c65

.weather .current-day p
  margin: 0
  padding-left: 50px

.current-day-date
  font-size: 16px
  padding-top: 16px

.current-day-temperature
  font-size: 70px

.current-day-temperature .icon-cloudy
  padding-left: 20px

.weather .next-days
.weather .next-days p
  margin: 0
  display: inline-block
  font-size: 16px

.weather .next-days a
  display: block
  line-height: 58px
  border-bottom: 1px solid #1f253d
  -webkit-transition: background .3s
  transition: background .3s

.weather .next-days a:hover
  background: #50597b

.weather .next-days a:hover .day
  color: #e64c65

.weather .next-days-date
  padding-left: 20px

.weather .next-days-temperature
  float: right
  padding-right: 20px

.weather .next-days-temperature .icon
  padding-left: 10px

.tweets
  height: 375px

.tweets .titular
  background: #35aadc

.tweets .titular .icon
  font-size: 18px
  padding-right: 20px

.tweet.first
  height: 150px
  border-bottom: 1px solid #1f253d

.tweet p:first-child
  margin: 0
  padding: 30px 30px 0

.tweet p:last-child
  margin: 0
  padding: 15px 30px 0

.tweet-link
  color: #4fc4f6

.middle-container .social
  height: 205px
  background: #1f253d

.middle-container .social li
  margin-bottom: 12px

.middle-container .social a
  line-height: 60px

.middle-container .social a:hover
  text-decoration: none

.middle-container .social .titular
  border-radius: 5px

.middle-container .social .facebook
  background: #3468af
  -webkit-transition: background .3s
  transition: background .3s

.middle-container .social a:hover .facebook
  background: #1a4e95

.middle-container .social a:hover .icon.facebook
  background: #3468af

.middle-container .social .twitter
  background: #4fc4f6
  -webkit-transition: background .3s
  transition: background .3s

.middle-container .social a:hover .twitter
  background: #35aadc

.middle-container .social a:hover .icon.twitter
  background: #4fc4f6

.middle-container .social .googleplus
  background: #e64c65
  -webkit-transition: background .3s
  transition: background .3s

.middle-container .social a:hover .googleplus
  background: #cc324b

.middle-container .social a:hover .icon.googleplus
  background: #e64c65

.middle-container .social .icon
  float: left
  width: 60px
  height: 60px
  text-align: center
  font-size: 20px
  border-bottom-left-radius: 5px
  border-top-left-radius: 5px

.middle-container .social .icon.facebook
  background: #1a4e95

.middle-container .social .icon.twitter
  background: #35aadc

.middle-container .social .icon.googleplus
  background: #cc324b

/********************************************* RIGHT CONTAINER ****************************************/
.right-container
  .join-newsletter
    height: 230px

  .join-newsletter .titular
    padding-top: 10px

  .subscribe.button
    background: #11a8ab
    margin-top: 10px

  .subscribe.button:hover
    background: #0F9295

  .account
    height: 390px

  .account .titular
    padding: 10px 0

  .sign-in.button
    background: #e64c65
    margin: 10px auto

  .sign-in.button:hover
    background: #cc324b

  .account p
    text-align: center

  .fb-sign-in
    margin-top: 28px
    display: block
    line-height: 50px
    background: #3468af
    border-bottom-left-radius: 5px
    border-bottom-right-radius: 5px
    -webkit-transition: background .3s
    transition: background .3s

  .fb-sign-in:hover
    background: #1a4e95
    text-decoration: none

  .fb-sign-in .icon
    line-height: 20px
    font-size: 12px
    padding-right: 3px

  .fb-border
    display: inline-block
    width: 23px
    line-height: 20px
    border: 2px solid #fff
    border-radius: 100%
    margin-right: 10px

  .loading
    height: 200px
    padding-top: 35px

  .loading p
    display: inline-block
    padding-left: 30px
    margin: 5px 0 20px

  .loading .icon
    padding-right: 15px

  .loading .percentage
    float: right
    padding: 6px 35px 0 0

  .loading .progress-bar
    width: 250px
    height: 20px
    background: #50597b
    border-radius: 5px
    margin: 0 auto


