<p-blockUI [blocked]="loading">
  <i class="pi pi-spin pi-refresh" style="position:absolute;top:35%;left:46%;font-size: 60px;font-weight: bold"></i>
</p-blockUI>

<p-card class="p-field" class=" p-mb-2">
  <div class="user-management-edit ui-g">
    <p-messages [(value)]="msgs"></p-messages>
    <div class='p-fluid p-formgrid p-grid'>
      <div class="p-field p-col">
        <h1 *ngIf="!user?.id">{{'PAGE-UTILISATEUR.TITRES.CREATE' | translate}}</h1>
        <h1 *ngIf="user?.id">{{ 'PAGE-UTILISATEUR.TITRES.EDIT' | translate }}</h1>
      </div>
      <div class="p-formgroup-inline" style="margin-top: 17px;">
        <div class="p-field">
          <button pButton type="button" icon="fa fa-check" class="ui-button-success"
            label="{{'CHAMPS-COMMUN.ENREGISTRER' | translate}}" (click)="save()" *ngIf="!readonly"
            [disabled]="userform.invalid"></button>
        </div>
        <div class="p-field" *ngIf="readonly && hasAuthoritieCreate()">
          <button pButton type="button" icon="fa fa-pencil" class="ui-button-success"
            label="{{ 'CHAMPS-COMMUN.MODIFIER' | translate}}" (click)="edit(user)"
            *ngIf="readonly && hasAuthoritieCreate()"></button>
        </div>
        <div class="p-field">
          <button pButton type="button" icon="fa fa-undo" class="ui-button-secondary"
            label="{{ ( readonly ? 'CHAMPS-COMMUN.QUITTER' : 'CHAMPS-COMMUN.ANNULER' ) | translate }}"
            (click)="back()"></button>
        </div>
      </div>
    </div>
    <form [formGroup]="userform">
      <div class="card">
        <div class="p-field p-grid">
          <div class="image-previw">
            <img [src]="src" (click)="chooseFile()">
            <p-fileUpload #pic name="picture" url="" accept="image/*" (onError)="onPicUploadError($event)"
              [disabled]="readonly" maxFileSize="1000000" (onSelect)="onPicSelect($event)"
              (onUpload)="onPicUploadSuccess($event)"></p-fileUpload>
          </div>
        </div>
        <div class="card">
          <div class="p-field p-grid">
            <label for="email" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">{{'PAGE-UTILISATEUR.LABELS.EMAIL' |
              translate}}</label>
            <div class="p-col"
              [ngClass]="userform.get('email')?.invalid && (userform.get('email')?.dirty || userform.get('email')?.touched) ? 'invalid' : ''">
              <input formControlName="email" id="email" pInputText type="text"
                [attr.disabled]="readonly == true ? true : null== true ? true : null">
              <span class="error-message"
                *ngIf="userform.get('email')?.errors?.required">{{'PAGE-UTILISATEUR.MESSAGES.EMAIL-REQUIS' |
                translate}}</span>
              <span class="error-message"
                *ngIf="userform.get('email')?.errors?.email">{{'PAGE-UTILISATEUR.MESSAGES.EMAIL-INVALIDE' |
                translate}}</span>
            </div>
          </div>

          <div class="p-field p-grid">
            <label for="nom" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">{{'PAGE-UTILISATEUR.LABELS.NOM' |
              translate}}</label>
            <div class="p-col"
              [ngClass]="userform.get('nom')?.invalid && (userform.get('nom')?.dirty || userform.get('nom')?.touched) ? 'invalid' : ''">
              <input formControlName="nom" id="nom" pInputText type="text"
                [attr.disabled]="readonly == true ? true : null">
              <span class="error-message"
                *ngIf="userform.get('nom')?.errors?.required">{{'PAGE-UTILISATEUR.MESSAGES.NOM-REQUIS' |
                translate}}</span>
            </div>
          </div>

          <div class="p-field p-grid">
            <label for="prenom" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">{{'PAGE-UTILISATEUR.LABELS.PRENOM' |
              translate}}</label>
            <div class="p-col"
              [ngClass]="userform.get('prenom')?.invalid && (userform.get('prenom')?.dirty || userform.get('prenom')?.touched) ? 'invalid' : ''">
              <input formControlName="prenom" id="prenom" pInputText type="text"
                [attr.disabled]="readonly == true ? true : null">
              <span class="error-message"
                *ngIf="userform.get('prenom')?.errors?.required">{{'PAGE-UTILISATEUR.MESSAGES.PRENOM-REQUIS' |
                translate}}</span>
            </div>
          </div>


          <div class="p-field p-grid">
            <label for="identifiant" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">{{'PAGE-UTILISATEUR.LABELS.IDENTIFIANT' |
              translate}}</label>
            <div class="p-col"
              [ngClass]="userform.get('identifiant')?.invalid && (userform.get('identifiant')?.dirty || userform.get('identifiant')?.touched) ? 'invalid' : ''">

              <input formControlName="identifiant" id="identifiant" pInputText
                pTooltip="{{'PAGE-UTILISATEUR.TOOLTIPS.VALID-IDENTIFIANT' | translate}}" type="text"
                [attr.disabled]="(readonly == true || userform.get('id').value != null)? true : null">
              <span class="warning-message">{{'PAGE-UTILISATEUR.MESSAGES.IDENTIFIANT-NON-MODIFIABLE' |
                translate}}</span>
              <br>
              <span class="error-message"
                *ngIf="userform.get('identifiant')?.errors?.required">{{'PAGE-UTILISATEUR.MESSAGES.IDENTIFIANT-REQUIS' |
                translate}}</span>
              <br>
              <span class="error-message"
                *ngIf="userform.get('identifiant')?.errors?.maxlength">{{'PAGE-UTILISATEUR.MESSAGES.IDENTIFIANT-MAX-LENGTH'
                | translate}} </span>
              <span class="error-message"
                *ngIf="userform.get('identifiant')?.errors?.pattern">{{'PAGE-UTILISATEUR.MESSAGES.IDENTIFIANT-INVALIDE'
                | translate}}</span>
            </div>
          </div>
        </div>



        <div class="card">
          <div class="p-field p-grid">
            <label for="activated" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">{{'PAGE-UTILISATEUR.LABELS.ACTIF' |
              translate}}</label>
            <div class="p-col"
              [ngClass]="userform.get('activated')?.invalid && (userform.get('activated')?.dirty || userform.get('activated')?.touched) ? 'invalid' : ''">
              <p-toggleButton formControlName="activated" id="activated" onLabel="Oui" offLabel="Non"
                onIcon="pi pi-check" offIcon="pi pi-times" [disabled]="readonly"></p-toggleButton>
              <span class="error-message"
                *ngIf="userform.get('activated')?.errors?.required">{{'PAGE-UTILISATEUR.MESSAGES.PARAMETRE-REQUIS' |
                translate}}</span>
            </div>
          </div>


          <div class="p-field p-grid">
            <label for="profile" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">{{'PAGE-UTILISATEUR.LABELS.PROFIL' |
              translate}}</label>
            <div class="p-col"
              [ngClass]="userform.get('profile')?.invalid && (userform?.get('profile')?.dirty || userform?.get('profile ')?.touched) ? 'invalid' : ''">
              <p-autoComplete [(ngModel)]="pc" [suggestions]="profilSuggestions"
                (completeMethod)="searchProfiles($event)" [dropdown]="true" field="codeMetier" [forceSelection]="true"
                inputId="id" formControlName="profile" id="profile"
                [disabled]="readonly || (hasAuthoritieUpdateProfile() == false && user?.id)"
                [class.disabledc]="readonly || (hasAuthoritieUpdateProfile() == false && user?.id)"
                styleClass="profile-complete"></p-autoComplete>

              <span class="error-message"
                *ngIf="userform.get('profile')?.errors?.required">{{'PAGE-UTILISATEUR.MESSAGES.PROFIL-REQUIS' |
                translate}}</span>
            </div>
          </div>

        </div>

      </div>
    </form>
    <div class="ui-g-12 champobligatoire" *ngIf="!readonly"> {{'PAGE-USER.CHAMPS-OBLIGATOIRE' | translate}} </div>
    <div class="ui-g-12 pwdbutton" *ngIf="!readonly && hasAuthoritiesResetPassword() && user?.id">
      <div class="ui-g-4">
        <button pButton label="{{'PAGE-USER.BTN-REINI-PASSWORD' | translate}}" class="ui-button-primary"
          (click)="resetPassword()" pTooltip="{{'PAGE-USER.TOOLTIP-BTN-PASSWORD' | translate}}"></button>
      </div>
    </div>
    <p-blockUI [target]="userDiv" [blocked]="isSaving" baseZIndex="1">
      <i class="ui-table-loading-icon pi-spin fa fa-refresh fa-4x"></i>
    </p-blockUI>



  </div>
</p-card>