.login-body .login-panel .login-icon
  max-width: 75px
  max-height: 75px
  margin-bottom: 25px

.login-body .login-topbar .logo img
  height: 65px!important
.login-body .login-panel .ui-g .ui-g-12
  padding: 15px 0px

.login-body .login-topbar
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 99999
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  height: 90px
  background: #122e51
  /* Old browsers */
  background: -moz-linear-gradient(-206deg, #3283e8 50%, #3283e8 100%)
  background: -webkit-linear-gradient(-206deg, #3283e8 50%, #3283e8 100%)
  background: linear-gradient(-206deg, #543f3f 50%, #3283e8  100%)
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#122e51", endColorstr="#122e51",GradientType=1 )

.login-body .login-topbar .logo
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  width: 450px
  padding: 10px 100px
  display: flex
  margin: 0 auto



.login-body .login-image
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  width: 100%
  position: absolute
  top: 60px

.login-body .login-panel
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  padding: 15% 0 0 100px
  width: 500px
  margin: 0 auto

.login-body .login-panel .login-icon
  max-width: 75px
  max-height: 75px
  margin-bottom: 25px

.login-body .login-panel .ui-g .logo-container
  padding: 0

.login-body .login-panel .ui-g .logo-container .login-summary
  line-height: 48px
  font-size: 36px
  font-weight: bold
  text-align: left

.login-body .login-panel .ui-g .logo-container .login-detail
  line-height: 20px
  font-size: 16px
  text-align: left



.login-body .login-panel .ui-g .ui-g-12 .ui-inputfield
  display: block
  margin-top: 5px

.login-body .login-panel .ui-g .ui-g-12.chkbox-container a
  float: right

.login-body .login-panel .ui-g .ui-g-12 .ui-chkbox
  margin-right: 5px

.login-body .login-panel .ui-g .ui-g-12 .ui-outputlabel
  vertical-align: middle

.login-body .login-panel .ui-g .ui-button
  width: 130px
  border-radius: 3px

.is-invalid
  border-color: #dc3545

.ui-message-error
  background-color: #fff!important
  color: #dc3545!important
.test
  border-radius: 25px
  border: 3px solid #3283e8
  padding: 20px
