<div class="login-body">
  <div class="login-topbar">
    <div class="logo">
      <img src="../../../assets/layout/images/logo-medaviz.png" />
    </div>
  </div>


  <form class="login-panel ui-fluid " [formGroup]="loginForm" (ngSubmit)="onSubmit()">

    <p-messages [(value)]="msgs"></p-messages>

    <div class="p-fluid test">
      <div class="ui-g-12 login-icon-container" style="text-align: center;">
        <img class="login-icon" src="../../../assets/layout/images/iclogin.png" alt="california-layout" />
      </div>
      <div class="ui-g-12 ui-lg-12 ui-md-12 logo-container">


      </div>
      <div class="p-field">
        <span class="p-float-label">
          <input pInputText type="text" formControlName="username" class="ui-inputtext ui-widget"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
          <label for="inputtext">Nom d'utilisateur</label>
        </span>

        <div class="p-field" *ngIf="submitted && f.username.errors">
          <p-message severity="error" text="L'adresse e-mail est requis" *ngIf="f.username.errors.required"></p-message>
        </div>
      </div>
      <div class="p-field">
        <span class="p-float-label">
          <input pInputText type="password" formControlName="password" autocomplete="off" class="ui-inputtext ui-widget"
            [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
          <label for="inputtext">Mot de passe</label>
        </span>

        <div class="p-field" *ngIf="submitted && f.password.errors">
          <p-message class="alert" severity="error" text="Le mot de passe est requis"
            *ngIf="f.password.errors.required"></p-message>
        </div>
      </div>

      <div class="p-field" style="text-align: center;">
        <button [disabled]="loading" pButton pRipple label="Connexion"></button>
      </div>
    </div>
    <div style="text-align: center;">
      <p-progressSpinner *ngIf="loading"></p-progressSpinner>
    </div>

  </form>

</div>