.profilSlim
  width: 161px
  margin-left: -4em
  padding: 15px
.profil
  position: absolute
  color: white
  bottom: 153px
  background-color: #0071bc
.profilOverlay
  width: 228px
  padding: 15px
  bottom: 100px!important






