
<div class="layout-wrapper" (click)="onLayoutClick()"
     [ngClass]="{'layout-wrapper-overlay-sidebar': isOverlay(),
                 'layout-wrapper--overlay-sidebar-active': isSlim() && ! overlayMenuActive ,
                 'layout-wrapper-horizontal-sidebar': isHorizontal(),
                 'layout-wrapper-slim-sidebar': overlayMenuActive,
                 'layout-wrapper-sidebar-inactive': staticMenuDesktopInactive,
                 'layout-wrapper-sidebar-mobile-active': staticMenuMobileActive}">

  <app-topbar></app-topbar>

  <div class="layout-sidebar" (click)="onMenuClick($event)"
       [ngClass]="{'layout-sidebar-dark': menuMode !== 'light',
         'layout-sidebar-gradient':  menuMode === 'gradient'}">
    <p-scrollPanel #layoutMenuScroller [style]="{height: '100%' }">
      <div     class="sidebar-scroll-content menu">
        <app-menu [reset]="resetMenu"></app-menu>
      </div>
    </p-scrollPanel>
  </div>

  <div class="layout-main">

    <div class="layout-main-content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
