<p-card class="p-field" class=" p-mb-2">
  <div class="profile-detail-edit ui-g">
    <div class="ui-g-12">
      <p-messages [(value)]="msgs"></p-messages>
    </div>
    <div class="card">

      <div class='p-fluid p-formgrid p-grid'>
        <div class="p-field p-col">
          <h1 *ngIf="!profil?.id">Création de profil</h1>
          <h1 *ngIf="profil?.id">Édition de profil</h1>
        </div>
        <div class="p-formgroup-inline" style="margin-top: 17px;">
          <div class="p-field">
            <button pButton type="button" icon="fa fa-check" class="ui-button-success" *ngIf="!readonly"
              [disabled]="profilForm.invalid" label="Enregister" (click)="saveProfil()"></button>
          </div>
          <div class="p-field" *ngIf="readonly && hasAuthorities(currentUser.authorities,'Modifier/Supprimer-Profil')">
            <button pButton type="button" icon="fa fa-pencil" class="ui-button-success" label="Modifier"
              (click)="edit()"></button>
          </div>
          <div class="p-field">
            <button pButton type="button" icon="fa fa-undo" class="ui-button-secondary" label="Quitter"
              (click)="back()"></button>
          </div>
        </div>
      </div>





      <form [formGroup]="profilForm" class="ui-g-12 ui-lg-12 ui-md-12 ui-sm-12 ui-fluid"
        style="background-color: white">
        <div class="card">
          <div class="p-field p-grid">
            <label for="codeMetier" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Nom <span
                class="required-etoile">*</span></label>
            <div class="p-col"
              [ngClass]="profilForm.get('codeMetier')?.invalid && (profilForm.get('codeMetier')?.dirty || profilForm.get('codeMetier')?.touched) ? 'invalid' : ''">
              <input formControlName="codeMetier" id="codeMetier" pInputText type="text"
                [attr.disabled]="readonly == true ? true : null">
              <span class="error-message" *ngIf="profilForm.get('codeMetier')?.errors?.required">Profil est
                requis</span>
            </div>
          </div>


          <div class="p-field p-grid">
            <label for="description" class="p-col-12 p-mb-2 p-md-2 p-mb-md-0">Description</label>
            <div class="p-col">
              <textarea rows="5" id="description" formControlName="description" pInputTextarea
                class="ui-inputtext ui-corner-all ui-state-default ui-widget"
                [attr.disabled]="readonly == true ? true : null"></textarea>
            </div>
          </div>
        </div>
      </form>

    </div>
  </div>
  <div class="profile-detail-edit ui-g">
    <div class="ui-g-12 ui-lg-12 ui-md-12  ui-fluid table">
      <p-tabView>
        <p-tabPanel *ngIf="profil?.id" header="Utilisateurs">

          <p-table [columns]="userColumns" [value]="profil.users" [paginator]="true" [rows]="10" [scrollable]="true"
            [rowsPerPageOptions]="[10,25,50]" [rowHover]="true" sortMode="multiple" [loading]="loading"
            loadingIcon="fa fa-refresh">
            <ng-template pTemplate="colgroup" let-userColumns>
              <colgroup>
                <col *ngFor="let col of userColumns" [style.width]="col.width">
              </colgroup>
            </ng-template>


            <ng-template pTemplate="header" let-userColumns>
              <tr>
                <th *ngFor="let col of userColumns" pResizableColumn [pSortableColumn]="col.field" pReorderableColumn
                  class="ui-resizable-column" [pSortableColumnDisabled]="!col.sortable">
                  <span class="header-text"><span class="ellipsis-header">{{col.header}}</span></span>
                  <p-sortIcon [field]="col.field" *ngIf="col.sortable"></p-sortIcon>
                </th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
              <tr>
                <td [ngSwitch]="col.type" *ngFor="let col of columns" class="ui-resizable-column">
                  <span *ngSwitchCase="'datetime'">
                    <span>{{rowData[col.field] | date : 'dd/MM/yyyy HH:mm:ss' }} </span>
                  </span>
                  <span *ngSwitchDefault>{{rowData[col.field]}}</span>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="loadingbody" let-columns="columns">
              <tr class="colHeight">
                <td class="colWidth">
                  <div class="loading-text"></div>
                </td>
                <td class="colWidth">
                  <div class="loading-text"></div>
                </td>
                <td *ngFor="let col of columns" [style.width]="col.width">
                  <div class="loading-text"></div>
                </td>
              </tr>
            </ng-template>
            <ng-template pTemplate="emptymessage" let-columns>
              <tr *ngIf="columns">
                <td [attr.colspan]="columns.length + 1" class="empty-table-message">
                  <p-message severity="info" text="Aucune utilisateurs trouvés"></p-message>
                </td>
              </tr>
            </ng-template>
          </p-table>
        </p-tabPanel>

        <p-tabPanel header="Permissions">
          <p-treeTable [value]="myTableNode" [columns]="colsPer" selectionMode="checkbox" [(selection)]="selectedNode"
            [paginator]="true" [rows]="7" [resizableColumns]="true" [loading]="loading" loadingIcon="fa fa-refresh">
            <ng-template pTemplate="header" let-columns>
              <tr>
                <th [ttSortableColumn]="columns[0].field">
                  Role
                  <p-treeTableSortIcon [field]="columns[0].field"></p-treeTableSortIcon>
                </th>
              </tr>

            </ng-template>
            <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
              <tr>
                <td>
                  <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                  <p-treeTableCheckbox [value]="rowNode" [disabled]="readonly"
                    [ngClass]=" { 'mininusview': viewType(rowData)}"></p-treeTableCheckbox>
                  <span style="vertical-align: middle">{{rowData.name}}</span>
                </td>

              </tr>

            </ng-template>
          </p-treeTable>
        </p-tabPanel>

      </p-tabView>


    </div>
  </div>
</p-card>