::ng-deep .layout-main-content,:host ::ng-deep .profile-detail-edit
  padding: .5em !important
.profile-detail-edit .title
  padding: 0 .5em
  display: block
.profile-detail-edit .title h1
  width: auto
  display: inline-block
  margin: 8px 0
.profile-detail-edit .title .action-buttons
  display: block
  float: right
.profile-detail-edit .title .action-buttons button
  width: auto


/* VALIDATION Style */
:host .invalid input
  border-color : #cc0000!important
:host .invalid span.error-message
  display : inline
:host span.error-message
  font-size: 12px
  display: none
  color: #cc0000
/* VALIDATION Style  END */

/* Messages style */
:host ::ng-deep .profile-details-edit p-messages
  width: 100%
:host ::ng-deep .profile-details-edit p-messages .ui-messages
  width: 100%
  margin: 0
  margin-bottom: .5em
/*Messages style END */

.required-etoile
  color: red
.ui-fluid
  margin-top: -18px!important

//.card
//    height: calc(100vh - 75px - 1em)
//:host .card .table .ui-tabview-panels
////    flex-grow: 1
////    display: flex
////    flex-direction: column
////    overflow: hidden

.ui-fluid .table
  padding-top: 60px

:host ::ng-deep .table .ui-tabview .ui-tabview-panels
    padding: 0

:host ::ng-deep .table .ui-helper-clearfix .ui-dropdown
    margin-top: 6px

:host ::ng-deep p-tabview .ui-tabview
  margin: -0.7em

:host ::ng-deep .ui-fluid .profile-detail-edit .card
  padding-bottom: 0px

:host ::ng-deep .profile-detail-edit .ui-fluid
  padding: 16px
  background-color: white

.right
  text-align: end
  display: flex

:host ::ng-deep p-treetable .ui-treetable .ui-treetable-wrapper
  height: calc(17em - 8px)

:host ::ng-deep p-treetablecheckbox.mininusview .ui-treetable-chkbox .ui-chkbox-box .ui-chkbox-icon.pi::before
  content: "\e90f"
