<div id="actions-btns">
  <button pButton type="button"   id="save-btn" class="ui-button-success" label="{{'CHAMPS-COMMUN.ENREGISTRER' | translate}}" (click)="save()" [disabled]="!canSave" ></button>
  <button *ngIf="canDelete" pButton type="button"   id="delete-btn"  class="ui-button-danger" label="{{'CHAMPS-COMMUN.SUPPRIMER' | translate}}" (click)="delete()"  ></button>
  <button pButton type="button"  id="abondonner-btn" class="ui-button-secondary" label="{{ 'CHAMPS-COMMUN.ABANDONNER' | translate }}" (click)="abandonner()"></button>
</div>
