<div class="main-page">

<img src="../../../assets/layout/images/access-icon.png"/>
<h1>Droits insuffisants</h1>
<p>Vous n'avez pas les droits suffisants pour accéder à cette ressource.</p>
  <button class="title" pButton id="back" label="Dashboard" routerLink="/home" ></button>
</div>
