<div class="layout-topbar" >
    <a class="logo" routerLink="/home/bi-reports" >
        <img src="../../../assets/layout/images/logo-medaviz.png" alt="logo"  pTooltip="logo"/>
    </a>
  <a id="menu-button" href="#"   (click)="app.onMenuButtonClick($event)">
    <i class="fa fa-align-left" pTooltip="{{ (app.overlayMenuActive ? 'TOPBAR.DEMINUER-MENU' :'TOPBAR.AGRANDIR-MENU' ) | translate}}"></i>

  </a>

    <a id="profile-menu-button"  pTooltip="{{'TOPBAR.PROFIL' | translate }}" class="right-topbar menu-button" href="#"   [class.disabled]="disabled ? true: null" (click)="app.onTopbarMenuButtonClick($event, disabled)" *ngIf="app.profileMode==='top' || app.isHorizontal()">
      <img [src]="currentUserpicture">
      <span>{{currentUser?.prenom}}&nbsp;{{currentUser?.nom}}</span>
    </a>


    <ul  id="topbar-usermenu" class="usermenu usermenu-overlay fadeInDown" [ngClass]="{'usermenu-active': app.topbarMenuActive}">
      <li #profile [ngClass]="{'menuitem-active':app.activeTopbarItem === profile}">
        <a *ngIf="hasAuthorities(currentUser.authorities,'Consulter-Profil')" [routerLink]="['./user-management/user-profile']">
          <i class="pi pi-user"></i>
          <span class="topbar-item-name">Profil</span>
        </a>
        <a href="#" (click)="logout()">
          <i class="fa fa-fw fa-sign-out"></i>
          <span class="topbar-item-name">Déconnexion</span>
        </a>
      </li>

    </ul>


</div>



