.username
  margin-left: 14px
/* Reducing topbar HEIGHT*/
:host .layout-topbar
  @media screen and (min-width: 1024px)
    height: 48px
:host .layout-topbar a.logo
  padding: 4px 0
  height: auto
:host .layout-topbar a.logo img
  height: 36px
:host .layout-topbar a#menu-button
  font-size: 25px
  height: 48px
  line-height: 48px
  width: 48px
:host .layout-topbar a#topbar-menu-button
  right: 12px
  top: 4px
:host .layout-topbar a#topbar-menu-button img
  border-radius: 20px
::ng-deep .layout-main
  @media screen and (min-width: 1024px)
    padding-top: 48px!important
::ng-deep .layout-sidebar
  @media screen and (min-width: 1024px)
    top: 48px!important
.usermenu.usermenu-active
  top: 48px
/* Reducing topbar HEIGHT END*/
/* Style client search */
:host .layout-topbar .filter-group
  position: absolute
  top: 7px
  left: 284px
  float: left
  max-width: 600px
  height: 32px
  display: flex
  @media screen and (max-width: 1024px)
    top: 48px
    left: 14px
:host .layout-topbar .filter-group > .search-input
  flex-basis: 33%
  flex-grow: 0
  min-width: 0
  padding: 0 0.2em
:host .layout-topbar .filter-group > .search-input input
  border: 0 none
  outline: none
  border-bottom: 1px solid #f4f4f4
  color: #ffffff
  background-color: transparent
  font-size: 12px
  padding: 6px 6px 6px 24px
  max-width: 100%
  min-width: 100%
:host .layout-topbar .filter-group > .search-input i.icon-search
  color: #ffffff
  top: 8px
  position: absolute
/* Style client search END */

.right-topbar img
  width: 40px
  height: 40px
  display: inline-block
  vertical-align: middle
  border-radius: 50%
#profile-menu-button span
  margin-left: 7px

.menu-button
  float: right
  display: block
  position: absolute
  top: 0
  height: 48px
  line-height: 48px
  color: #ffffff
  text-align: left
#profile-menu-button
  right: 14px

#region-menu-button
  right: 350px
#region
  right: 350px

#portfeuille-menu-button
  right: 200px

.layout-wrapper .layout-topbar .menu-button span
  display: inline-block
  vertical-align: middle

.menu-button i
  margin-left: 6px
  font-weight: bold

.layout-wrapper .layout-topbar #profile-menu-button span
  display: inline-block
  vertical-align: middle

/* MAYBE portefeuille/region list design */
.layout-menu
  display: none
  height: 350px

  position: fixed
  top: 48px
  background-color: #ffffff
  max-width: 180px
  border: solid 1px #d6d7d9
  text-align: left
  text-transform: none
  letter-spacing: 0
  font-weight: normal
  overflow: scroll
  padding: 0
.layout-menu-reg
  display: none
  height: 285px
  position: fixed
  top: 48px
  background-color: #ffffff
  max-width: 150px
  border: solid 1px #d6d7d9
  text-align: left
  text-transform: none
  letter-spacing: 0
  font-weight: normal
  padding: 0
#layout-portefeuille-menu
  right: 120px
#layout-region-menu
  right: 300px
.layout-portefeuille-menu-active
  display: block
.layout-region-menu-active
  display: block
.layout-menu  ul
  padding: 0
  list-style-type: none
  margin-top: 0!important
.layout-menu li
  line-height: 26px
.layout-menu span
  color: black
  display: inline-block
  vertical-align: middle
  margin-left: 8px
.layout-menu li:hover
    border-left: #122e51 solid 5px
.layout-menu span:hover
   color: #122e51


.layout-menu-reg  ul
  padding: 0
  list-style-type: none
  margin-top: 0!important
.layout-menu-reg li
  line-height: 26px
.layout-menu-reg span
  color: black
  display: inline-block
  vertical-align: middle
  margin-left: 8px
.layout-menu-reg li:hover
  border-left: #122e51 solid 5px
.layout-menu-reg span:hover
  color: #122e51
.selected-li
  border-left: #122e51 solid 5px
.selected-span
  color: #122e51

