<div  class="login-body exception-topbar">
  <div class="login-topbar">
    <div  class="logo">
      <img src="../../../assets/layout/images/logo-medaviz.png"/>
    </div>
  </div>


  <form class="login-panel ui-fluid" >

    <div class="ui-g">
      <div class="ui-g-12 login-icon-container">
        <img class="login-icon" src="../../assets/layout/images/icon-error.png" alt="california-layout" />
      </div>
      <div class="ui-g-12 ui-lg-12 ui-md-12 logo-container">


      </div>
      <div class="ui-g-12 ui-lg-12 ui-md-12">
        <h1>{{ 'PAGE-ERREUR.TITRE' | translate}}</h1>
        <p>
          {{ 'PAGE-ERREUR.TEXT' | translate}}
        </p>
      </div>


    </div>
  </form>

</div>







