<p-card class="p-field" class=" p-mb-2">
  <p-messages [(value)]="msgs"></p-messages>
  <div class="user-profile ui-g">
      <blockable-div #profileDiv styleClass="card card-w-title" class="info" style="padding: 0;position:relative">
          <div class="ui-g form-group title">
            <h1>Informations Profil</h1>
          <div class="action-buttons">
              <button  pButton type="button" icon="fa fa-pencil" class="ui-button-success" label="Modifier" (click)="edit()" *ngIf="readonly" ></button>
              <button  pButton type="button" icon="fa fa-check" class="ui-button-success" label="Enregister" *ngIf="!readonly" [disabled]="profileform.invalid" (click)="save()" ></button>
          </div>
          </div>
          <form [formGroup]="profileform" >
          <div class="ui-g form-group">
            <div class="ui-g-12 ui-md-3">
              <div class="image-previw">
                  <img [src]="src" (click)="chooseFile()" [ngClass]="readonly ? 'disabled' : ''">
                  <p-fileUpload #pic name="picture" url="" accept="image/*" maxFileSize="1000000" [disabled]="readonly"
                  (onSelect)="onPicSelect($event)" (onUpload)="onPicUploadSuccess($event)" (onError)="onPicUploadError($event)" ></p-fileUpload>
              </div>
            </div>
            <div class="ui-g-12 ui-md-9">
            <div class="ui-g-12 ui-md-4"><label for="email">Email</label></div>
            <div class="ui-g-12 ui-md-8">
                <input id="email" pInputText type="text" disabled [value]="user?.email">
            </div>
            <div class="ui-g-12 ui-md-4"><label for="nom">Nom</label></div>
            <div class="ui-g-12 ui-md-8" [ngClass]="profileform?.get('nom')?.invalid && (profileform?.get('nom')?.dirty || profileform?.get('nom')?.touched) ? 'invalid' : ''">
                <input formControlName="nom" id="nom" pInputText  type="text" [attr.disabled]="readonly == true ? true : null">
                <span class="error-message" *ngIf="profileform?.get('nom')?.errors?.required">Le nom est requis</span>
            </div>
            <div class="ui-g-12 ui-md-4"><label for="prenom">Prénom</label></div>
            <div class="ui-g-12 ui-md-8" [ngClass]="profileform?.get('prenom')?.invalid && (profileform?.get('prenom')?.dirty || profileform?.get('prenom')?.touched) ? 'invalid' : ''">
                <input formControlName="prenom" id="prenom" pInputText  type="text" [attr.disabled]="readonly == true ? true : null">
                <span class="error-message" *ngIf="profileform.get('prenom')?.errors?.required">Le prénom est requis</span>
              </div>
              <div class="ui-g-12 ui-md-4"><label for="identifiant">Identifiant</label></div>
            <div class="ui-g-12 ui-md-8">
                <input formControlName="identifiant" id="identifiant" pInputText  type="text" disabled>
              </div>
              <div class="ui-g-12 ui-md-4"><label for="profile">Profil d’autorisation</label></div>
              <div class="ui-g-12 ui-md-8">
                <input formControlName="profile" id="profile" pInputText  type="text" disabled>
              </div>



             <div class="ui-g-12 ui-md-4"><label>Activé</label></div>
              <div class="ui-g-12 ui-md-8">
                  <div class="ui-g-3">
                    <span class="active icon">
                        <i class="fa fa-times" *ngIf="!user?.activated"></i>
                        <i class="fa fa-check" *ngIf="user?.activated"></i>
                    </span>
                  </div>

              </div>
          </div>
           </div>
          </form>
          <p-blockUI [target]="profileDiv" [blocked]="isSaving" baseZIndex="1" >
              <i class="ui-table-loading-icon pi-spin fa fa-refresh fa-4x"></i>
          </p-blockUI>

      </blockable-div>

      <blockable-div #pwdDiv styleClass="card card-w-title" class="mdp" style="padding: 0;position:relative">
          <div class="ui-g form-group title">
              <h1>Mot de passe</h1>
            <div class="action-buttons">
                <button  pButton type="button" icon="fa fa-pencil" class="ui-button-success" label="Modifier" (click)="editPwd()" *ngIf="pwdReadonly" ></button>
                <button  pButton type="button" icon="fa fa-check" class="ui-button-success" label="Enregister" *ngIf="!pwdReadonly" [disabled]="pwdform.invalid" (click)="savePwd()" ></button>
            </div>
          </div>
          <form [formGroup]="pwdform" >
              <div class="ui-g form-group">
                  <div class="ui-g-12">
                    <div class="ui-g-12 ui-md-4"><label for="curr">Mot de passe actuel</label></div>
                    <div class="ui-g-12 ui-md-8"  [ngClass]="pwdform?.get('current')?.invalid && (pwdform?.get('current')?.dirty || pwdform?.get('current')?.touched) ? 'invalid' : ''">
                        <input id="curr" pInputText type="password" [attr.disabled]="pwdReadonly == true ? true : null" formControlName="current">
                        <span class="error-message" *ngIf="pwdform.get('current')?.errors?.required">Ce champ est requis</span>

                    </div>
                    <div class="ui-g-12 ui-md-4"><label for="nnew">Nouveau Mot de passe</label></div>
                    <div class="ui-g-12 ui-md-8" [ngClass]="pwdform?.get('newPassword')?.invalid && (pwdform?.get('newPassword')?.dirty || pwdform?.get('newPassword')?.touched) ? 'invalid' : ''">
                        <input id="nnew" pInputText type="password" [attr.disabled]="pwdReadonly == true ? true : null" formControlName="newPassword">
                        <span class="error-message" *ngIf="pwdform.get('newPassword')?.errors?.required">Ce champ est requis</span>
                        <span class="error-message" *ngIf="pwdform.get('newPassword')?.errors?.minlength">Votre mot de passe doit comporter au moins 4 caractères.</span>
                        <span class="error-message" *ngIf="pwdform.get('newPassword')?.errors?.maxlength">Votre mot de passe ne peut pas dépasser 50 caractères.</span>

                    </div>
                    <div class="ui-g-12 ui-md-4"><label for="conf">Confirmer mot de passe</label></div>
                    <div class="ui-g-12 ui-md-8" [ngClass]="pwdform?.get('confirmPassword')?.invalid && (pwdform?.get('confirmPassword')?.dirty || pwdform?.get('confirmPassword')?.touched) ? 'invalid' : ''">
                        <input id="conf" pInputText type="password" [attr.disabled]="pwdReadonly == true ? true : null" formControlName="confirmPassword">
                        <span class="error-message" *ngIf="pwdform.get('confirmPassword')?.errors?.required">Ce champ est requis</span>
                        <span class="error-message" *ngIf="pwdform.get('confirmPassword')?.errors?.minlength">Votre mot de passe doit comporter au moins 4 caractères.</span>
                        <span class="error-message" *ngIf="pwdform.get('confirmPassword')?.errors?.maxlength">Votre mot de passe ne peut pas dépasser 50 caractères.</span>


                    </div>
                  </div>
              </div>
          </form>
          <p-blockUI [target]="pwdDiv" [blocked]="isPwdSaving" baseZIndex="1" >
              <i class="ui-table-loading-icon pi-spin fa fa-refresh fa-4x"></i>
          </p-blockUI>
      </blockable-div>



  </div>
</p-card >
