/*Main Layout*/
:host .user-profile
    display: flex
    flex-direction: row
    align-items: stretch
:host .user-profile blockable-div
    display: inline-block
    width: calc(50% - 0.2em)
:host ::ng-deep .user-profile blockable-div .card.card-w-title
    margin: 0
    height: 100%
:host .user-profile blockable-div.mdp
    margin-left: 0.4em
::ng-deep .layout-main-content,
:host ::ng-deep .user-profile .card.card-w-title
    padding: .5em !important
.user-profile .title
    padding: 0 .5em
    display: block
:host .user-profile .title h1
    width: auto
    display: inline-block
    margin: 8px 0
.user-profile .title .action-buttons
    display: block
    float: right
.user-profile .title .action-buttons button
    width: auto
/*Image Style*/
:host ::ng-deep p-fileupload
    display: none
.image-previw
    padding: 5px
    border: 4px solid #f6f6f6
    border-radius: 57px
    display: table
    margin: 0 auto
.image-previw img
    height: 96px
    width: 100px
    border-radius: 50px
    cursor: pointer
.Image-previw img.disabled
    pointer-events: none
/* VALIDATION Style*/
:host .invalid input
    border-color : #cc0000!important
:host .invalid span.error-message 
    display : inline
:host span.error-message   
    font-size: 12px
    display: none
    color: #cc0000
    

/* profile component block ui style*/
:host ::ng-deep .ui-blockui.ui-widget-overlay
  background-color: rgba(0, 0, 0, 0.1)
:host ::ng-deep .ui-blockui.ui-widget-overlay .ui-table-loading-icon
  position: absolute
  top: calc(50% - 0.25em)
  left: 50%
/* profile component block ui style END*/

/*Messages style*/
:host ::ng-deep .user-profile p-messages
    width: 100%
:host ::ng-deep .user-profile p-messages .ui-messages
    width: 100%
    margin: 0
    margin-bottom: .5em

/* activated + region style*/
:host ::ng-deep .user-profile span.icon
    width: 100%
    color: white
    border-radius: 14px
    line-height: 16px
    font-size: 12px
    height: 16px
    display: inline-block
    text-align: center
:host ::ng-deep .user-profile span.iddo
    background-color: #0073bc
:host ::ng-deep .user-profile span.icon.active
    background-color: #4aa564

.annulpadding
    padding-left: 0
